*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainNavBar{
    background-color: #1AEBB6;
    padding: 0;
}

.navDiv{
    border-bottom: 100px solid #fff;
	border-right: 50px solid transparent;
	height: 100px;
	width: 500px;
}

.navDiv a img{
    margin: 10px 10px;
}

.accountDiv{
    margin-right: 30px;
}

.accountDiv .dropdown button{
    color: #fff;
}

.vehicleTypeSmallDiv{
    background-color: #1AEBB6;
}

.searchContainer{
    background-color: #F1F4F8;
    padding-top: 50px;
}

.searchContainer_Hired{
    background-color: #F1F4F8;
    padding-top: 50px;
}

.totalDrivers{
    margin: 50px 0 -15px 10px;
    font-size: 12px;
}

.availability1{
    color: #F1F4F8;
    background-color: #1AEBB6;
    border-radius: 12px;
    font-size: 12px;
    padding: 5px 10px;
}
.availability2{
    color: #F1F4F8;
    background-color: #FBDF5A;
    border-radius: 12px;
    font-size: 12px;
    padding: 5px 10px;
}
.carHeader{
    min-height: 120px;
}

.vehicleTypeDiv{
    min-height: 80px;
    display:block;
}

.vehicleTypeSmallDiv{
    margin: 2px 5px;
    padding: 5px 5px;
    background-color: #F1F4F8;
    border: 1px solid #A3A3AF;
    border-radius: 5px;
    font-size: 12px;
}

.invitationBtn{
    margin: auto;
    padding: 5px 10px;
    background-color: #1AEBB6;
    border: 1px solid;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.invitationBtn:hover{
    border: 1px solid #1AEBB6;
    color: #1AEBB6;
    transition: 0.8s;
}


/* modal css */
.modal-header{
    background-color: #1AEBB6;
    color: #fff;
}

.modal-HireBtn{
    margin: auto;
    padding: 5px 40px;
    background-color: #1AEBB6;
    border: 1px solid;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.modal-HireBtn:hover{
    border: 1px solid #1AEBB6;
    color: #1AEBB6;
    transition: 0.8s;
}