*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainNavBar{
    background-color: #1AEBB6;
    padding: 0;
}

.navDiv{
    border-bottom: 100px solid #fff;
	border-right: 50px solid transparent;
	height: 100px;
	width: 500px;
}

.navDiv a img{
    margin: 10px 10px;
}

.accountDiv{
    margin-right: 30px;
}

.accountDiv .dropdown button{
    color: #fff;
}

.vehicleTypeSmallDiv{
    background-color: #1AEBB6;
}

.searchContainer{
    background-color: #F1F4F8;
    padding-top: 50px;
}


.totalDrivers{
    margin: 50px 0 -15px 10px;
    font-size: 12px;
}
